/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ Reset */
/* ------------------------------------------------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

ol, ul {
    list-style: none;
}

img {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Sticky Footer */
html {
    height: 100%;
}

body {
    background: #fff;
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 85px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------------------- Common */
/* ------------------------------------------------------------------------------------------------------------------ */
.container {
    margin: 0 auto;
    width: 1170px;
}

.title {
    color: #363636;
    font: 300 35px 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.page-title {
    border-bottom: 1px solid #ff7474;
    margin-bottom: 50px;
    padding-bottom: 25px;
}

.article-text {
    color: #838383;
    font: 400 15px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-style: italic;
    line-height: 26px;
}

.author {
    color: #bebebe;
    font: 400 15px 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.author span {
    color: #646464;
}

.bordered-title {
    border-left: 10px solid #66c4dd;
    color: #363636;
    font: 700 21px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 12px;
    padding-left: 10px;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    font: 400 13px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    height: 58px;
    line-height: 57px;
    padding: 0 10px;
    text-transform: uppercase;
}

button.btn {
    border: none;
    background: none;
}

.btn.btn-grey {
    background: #e8e8e8;
    color: #5a5a5a;
}

.btn.btn-blue {
    background: #fff;
    border: 1px solid #05a0c8;
    color: #05a0c8;
}

.btn.btn-blue:hover {
    background: #46c3ee;
    text-shadow: 0 0 2px #fff;
}

.pagination li {
    float: left;
    margin: 0 12px;
}

.pagination li a {
    color: #8c8c8c;
    display: block;
    font: 400 14px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    width: 18px;
    height: 18px;
}

.pagination li:hover a,
.pagination li.active a {
    background: #d1d1d1;
    color: #fff;
}

.pagination li:first-child:hover a,
.pagination li.active:first-child a,
.pagination li:last-child:hover a,
.pagination li.active:last-child a {
    background: none;
    color: #05a0c8;
}

/* Social menu */
.social-menu {
    margin: 15px 20px 0 0;
}

.social-menu li {
    float: left;
}

.social-menu li a {
    border: 2px solid #a9c1c9;
    color: #a9c1c9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    margin-left: 4px;
    text-align: center;
    text-decoration: none;
    width: 24px;
    height: 24px;
}

/* Block styles */
.block {
    margin-bottom: 35px;
}

.block .title {
    border-top: 1px solid #d1d1d1;
    padding: 21px 0 16px;
}

/* Date styles across the site */
.date {
    color: #878787;
    font: 400 15px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 14px;
    margin-bottom: 15px;
}

/* Read more */
.read-more {
    color: #05a0c8;
    font: 400 15px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
}

.read-more .fa {
    margin-left: 6px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------------------- Header */
/* ------------------------------------------------------------------------------------------------------------------ */
.header-top {
    height: 115px;
    padding: 31px 0;
}

.header-top .logo {
    float: left;
}

.header-top .social-menu,
.header-top p,
.header-top .btn {
    float: right;
}

.header-top .btn {
    margin-top: -3px;
}

.header-top .btn.btn-grey {
    margin-left: 16px;
    width: 160px;
}

.header-top .btn.btn-grey .fa-search {
    margin-right: 10px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.header-top .btn.btn-blue {
    font-size: 14px;
    margin-left: 40px;
    width: 210px;
}

.lang-selector {
    border-right: 1px solid #d1d1d1;
    color: #acc3cb;
    float: right;
    height: 55px;
    padding: 20px 31px 0 0;
    text-transform: uppercase;
}

.lang-selector li {
    float: left;
    margin-right: 10px;
}

.lang-selector li img {
    cursor: pointer;
}

.nav-wrap {
    background: rgb(123, 206, 226); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(123, 206, 226, 1) 0%, rgba(123, 206, 226, 1) 48%, rgba(5, 160, 200, 1) 52%, rgba(5, 160, 200, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(123, 206, 226, 1)), color-stop(48%, rgba(123, 206, 226, 1)), color-stop(52%, rgba(5, 160, 200, 1)), color-stop(100%, rgba(5, 160, 200, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(123, 206, 226, 1) 0%, rgba(123, 206, 226, 1) 48%, rgba(5, 160, 200, 1) 52%, rgba(5, 160, 200, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(123, 206, 226, 1) 0%, rgba(123, 206, 226, 1) 48%, rgba(5, 160, 200, 1) 52%, rgba(5, 160, 200, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(123, 206, 226, 1) 0%, rgba(123, 206, 226, 1) 48%, rgba(5, 160, 200, 1) 52%, rgba(5, 160, 200, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(123, 206, 226, 1) 0%, rgba(123, 206, 226, 1) 48%, rgba(5, 160, 200, 1) 52%, rgba(5, 160, 200, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bcee2', endColorstr='#05a0c8', GradientType=1); /* IE6-9 */
}

.main-nav {
    height: 52px;
    text-align: center;
}

.main-nav li {
    float: left;
    line-height: 52px;
    width: 16.6666%;
}

.main-nav li:first-child {
    background: #7bcee2;
}

.main-nav li:nth-child(2) {
    background: #6cc8df;
}

.main-nav li:nth-child(3) {
    background: #5bc2db;
}

.main-nav li:nth-child(4) {
    background: #49bbd7;
}

.main-nav li:nth-child(5) {
    background: #35b3d3;
}

.main-nav li:last-child {
    background: #1eaace;
}

.main-nav li:hover,
.main-nav li.active {
    background: #5ea2b9;
}

.main-nav li a {
    color: #fff;
    font: 400 13px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    display: block;
    line-height: 52px;
    text-decoration: none;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------------- Main content */
/* ------------------------------------------------------------------------------------------------------------------ */
.section.content .container {
    padding: 40px 0;
}

.sidebar-right .section.content .container .main-content {
    float: left;
    margin-right: 23px;
    width: 845px;
}

.news ul li {
    float: left;
    padding-right: 12px;
    width: 33.333%;
}

.news ul li img {
    margin-bottom: 18px;
    width: 100%;
    height: auto;
}

.news ul li h2 {
    font-size: 21px;
}

.news ul li p {
    color: #757575;
    font: 400 13px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 18px;
    margin-bottom: 15px;
}

.read-more-archive {
    margin-top: 40px;
}

.read-more-archive a {
    color: #a9a9a9;
    font: 400 15px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
}

.photo {
    margin-bottom: 60px;
}

.flex-direction-nav a {
    background: rgba(0, 0, 0, .24);
    width: 49px;
    height: 53px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    left: 0;
}

.flexslider:hover .flex-direction-nav .flex-next {
    right: 0;
}

.flexslider .flex-direction-nav a {
    text-indent: 1000px;
}

.flexslider .flex-direction-nav a:before,
.flexslider .flex-direction-nav a:after {
    background: #fff;
    content: '';
    position: absolute;
    top: 20px;
    right: 15px;
    width: 17px;
    height: 2px;
}

.flex-direction-nav a.flex-prev:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.flex-direction-nav a.flex-next:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flex-direction-nav a.flex-prev:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flex-direction-nav a.flex-next:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.flexslider .flex-direction-nav a:after {
    top: 31px;
}

.video .title {
    margin-bottom: 55px;
}

.video ul li {
    float: left;
    padding-right: 20px;
    width: 33.333%;
}

.video ul li img {
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.video ul li h2 {
    font: 700 21px 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.section.content .container .side-right {
    float: left;
    width: 302px;
}

.blog ul li {
    padding: 20px 15px 25px;
}

.blog ul li:nth-child(odd) {
    background: #f4f4f4;
    position: relative;
}

.blog ul li:nth-child(odd):after {
    background: #f4f4f4;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    width: 1000px;
}

.blog ul li .blogpost-user {
    float: left;
    margin-right: 20px;
}

.blog ul li .blogpost-user img {
    border-radius: 50%;
    margin-bottom: 15px;
}

.blog ul li .blogpost-user .date {
    color: #7a7a7a;
    font: 300 13px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-style: italic;
    text-align: center;
}

.blog ul li .blog-text-preview {
    overflow: hidden;
}

.blog ul li .blog-text-preview h2 {
    color: #4d5e6c;
    font: 400 16px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 10px;
}

.blog ul li .blog-text-preview p {
    color: #7a7a7a;
    font: 300 13px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}

.blog ul li .blog-text-preview a {
    font-size: 13px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------------------- Footer */
/* ------------------------------------------------------------------------------------------------------------------ */
.footer {
    background: #191919;
    text-align: right;
}

.footer .social-menu {
    margin: -12px 0 0 -42px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.footer .social-menu li a {
    border-color: #6c6c6c;
    color: #6c6c6c;
}

.footer .copyright {
    color: #fff;
    float: right;
    line-height: 85px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ PAGES */
/* ------------------------------------------------------------------------------------------------------------------ */
/* News page */
.news-page .section.content .container {
    padding-top: 49px;
}

.news-page .page-title {
    padding-bottom: 22px;
}

.news-page .main-content > ul > li {
    padding: 66px 0;
}

.news-page .main-content > ul > li:nth-child(even) {
    background: #f4f4f4;
    position: relative;
}

.news-page .main-content > ul > li:nth-child(even):before,
.news-page .main-content > ul > li:nth-child(even):after {
    background: #f4f4f4;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.news-page .main-content > ul > li:nth-child(even):before {
    left: -100%;
}

.news-page .main-content > ul > li:nth-child(even):after {
    right: -100%;
}

.news-page .main-content ul li:first-child {
    padding-top: 0;
}

.news-page .main-content ul li h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.news-page .main-content ul li .date,
.news-page .main-content ul li .bordered-title {
    overflow: hidden;
}

.news-page .main-content .article-media-prev {
    float: left;
    margin: 0 30px 45px 0;
}

.news-page .main-content .article-footer {
    border-top: 1px solid #aeaeae;
    margin-top: 22px;
    padding-top: 20px;
}

.news-page .main-content .article-footer .share-news {
    float: left;
}

.news-page .main-content .article-footer .share-news p,
.news-page .main-content .article-footer .share-news .social-menu {
    display: inline-block;
}

.news-page .main-content .article-footer .share-news p {
    color: #1c1c1c;
    font-size: 15px;
    vertical-align: super;
}

.news-page .main-content .article-footer .share-news .social-menu {
    margin: 0;
}

.news-page .main-content .article-footer .share-news .social-menu li a {
    width: 20px;
    height: 20px;
}

.news-page .main-content .article-footer .author {
    float: right;
}

/* Blog page */
.blogs-page .page-title {
    margin-bottom: 68px;
    padding-bottom: 22px;
}

.blog-instruments {
    float: right;
    margin-top: -114px;
}

#blog-categories,
.blog-instruments button {
    color: #8c8c8c; 
    font: 400 13px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 37px;
    width: 125px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#blog-categories {
    background: transparent url(../images/arr-down.png) 102px center no-repeat;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    outline: none;
    margin-right: 8px;
    padding: 0 20px 0 25px;
    position: relative;
    text-align: center;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.blog-instruments button {
    background: #e8e8e8;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.blogs-page .main-content > ul li {
    padding: 66px 0;
}

.blogs-page .main-content > ul li:nth-child(even) {
    background: #f4f4f4;
    position: relative;
}

.blogs-page .main-content > ul li:nth-child(even):before,
.blogs-page .main-content > ul li:nth-child(even):after {
    background: #f4f4f4;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.blogs-page .main-content > ul li:nth-child(even):before {
    left: -100%;
}

.blogs-page .main-content > ul li:nth-child(even):after {
    right: -100%;
}

.blogs-page .main-content > ul li:first-child {
    padding-top: 0;
}

.blogs-page ul .blog-author {
    float: left;
}

.blogs-page ul .blog-author img {
    display: block;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.blogs-page ul .blog-author p {
    color: #4d5e6c;
    font: 300 18px 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.blogs-page .blog-content {
    margin-left: 165px;
}

.blogs-page .blog-content h2 {
    color: #1c1c1c;
    font: 400 28px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0 0 20px;
}

.blogs-page .blog-content img {
    margin-bottom: 20px;
}

.blogs-page .article-footer {
    border-top: 1px solid #ff7474;
    margin: 35px 0 0;
    padding-top: 12px;
}

.blogs-page .article-footer p:first-child {
    color: #8c8c8c;
    font: 400 13px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    float: left;
}

.blogs-page .article-footer p:first-child span {
    color: #4d4d4d;
    font: 400 13px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
}

.blogs-page .article-footer .date {
    float: right;
    font-size: 13px;
}

/* SD page */
.sd-page .content-list > li {
    padding: 66px 0;
}

.sd-page .content-list > li:first-child {
    padding-top: 0;
}

.sd-page .content-list > li:nth-child(even) {
    background: #f4f4f4;
    position: relative;
}

.sd-page .content-list > li:nth-child(even):before,
.sd-page .content-list > li:nth-child(even):after {
    background: #f4f4f4;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.sd-page .content-list > li:nth-child(even):before {
    left: -100%;
}

.sd-page .content-list > li:nth-child(even):after {
    right: -100%;
}

.sd-page .content-list img {
    float: left;
    margin-right: 30px;
    max-width: 384px;
}

.sd-page .content-list .blog-content {
    overflow: hidden;
}

.sd-page .content-list .blog-content .date {
    margin-bottom: 13px;
}

.sd-page .content-list h2 {
    color: #1c1c1c;
    font: 400 28px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 0;
    padding: 0 0 2px 24px;
}

.sd-page .content-list h4 {
    color: #1c1c1c;
    font: 400 14px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 25px;
    margin-bottom: 18px;
}

.sd-page .content-list .article-text {
    margin-bottom: 20px;
}

.sd-page .article-footer {
    border-top: 1px solid #aeaeae;
    margin-top: 41px;
    padding-top: 20px;
}

.sd-page .share-news {
    float: left;
}

.sd-page .share-news p,
.sd-page .share-news .social-menu {
    float: left;
}

.sd-page .share-news p {
    color: #1c1c1c;
    font: 400 15px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-right: 10px;
}

.sd-page .share-news .social-menu {
    margin: -2px 0 0;
}

.sd-page .share-news .social-menu li a {
    font-size: 11px;
    line-height: 18px;
    width: 20px;
    height: 20px;
}

.sd-page .author {
    float: right;
}

.sd-page .author a {
    color: #66c4dd;
    text-decoration: none;
}

/* For activists page */
.activist-page .page-title {
    margin-bottom: 0;
    padding-bottom: 22px;
    text-transform: uppercase;
}

.activist-page .content-list {
    margin-bottom: 65px;
}

.activist-page .content-list li {
    padding: 20px 30px;
    zoom: 1;
}

.activist-page .content-list li:first-child {
    background: #f9f9f9;
    height: 58px;
}

.activist-page .content-list li:first-child p {
    color: #5f5f5f;
    font: 400 14px 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.activist-page .content-list li:first-child p .fa {
    color: #05a0c8;
    font-size: 12px;
    margin-left: 8px;
}

.activist-page .content-list li:first-child p .fa-long-arrow-up {
    display: none;
}

.activist-page .content-list li:not(:first-child) {
    border-bottom: 1px solid #e8e8e8;
}

.activist-page .content-list li:before,
.activist-page .content-list li:after {
    content: "";
    display: table;
}

.activist-page .content-list li:after {
    clear: both;
}

.activist-page .content-list li:not(:first-child) > * {
    height: 51px;
}

.activist-page .content-list li > * {
    float: left;
}

.activist-page .content-list .file-name {
    width: 48.71%;
}

.activist-page .content-list li:not(:first-child) .file-name img {
    float: left;
    margin-right: 20px;
    max-width: 68px;
    max-height: 51px;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}

.activist-page .content-list li:not(:first-child) .file-name p {
    color: #525252;
    font: 400 18px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 51px;
    overflow: hidden;
}

.activist-page .content-list li > p {
    width: 22.22%;
}

.activist-page .content-list .file-size {
    width: 29.07%;
}

.activist-page .content-list li:not(:first-child) > p,
.activist-page .content-list li:not(:first-child) .file-size {
    color: #5f5f5f;
    font: 400 14px 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 51px;
}

.activist-page .content-list .file-size > * {
    display: inline-block;
}

.activist-page .content-list li:not(:first-child) .file-size .fa {
    color: #05a0c8;
    float: right;
    font-size: 18px;
    line-height: 51px;
    margin-left: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------------------------- Flex slider overwrite */
/* ------------------------------------------------------------------------------------------------------------------ */
.flexslider {
    background: transparent;
    border: none;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
}

#carousel img:hover {
    opacity: 1;
}

#carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
}